/* You can add global styles to this file, and also import other style files */
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* declare global colors as 
  black - #232020
  primary - #553739
  secondary - #955E42
  tertiary - #FAA916
  white - FBFFFE
*/

body {
  background-color: #fbfffe;
  color: #232020;
}
